{% extends 'base.html.twig' %}

{% block title %}Paiement non validé{% endblock %}

{% block body %}
<h1>Paiment non Validé</h1>
<p>
    Un problème est survenu lois du paiement. Veuillez réessayer ou contacter le support.
</p>
{% endblock %}
